ion-content.background{
    // --ion-background-color:#A9B1C7;   
    --background: url(../../assets/bbbback.png) no-repeat cover fixed center;
    
    background: url(../../assets/bbbback.png) no-repeat fixed center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
// This will remove iOS Header Line
ion-toolbar {
    --border-width: 0 !important;
    --background: #fcb43c;
}
// .bg-transparent {
//     background: transparent;
// }
// Removing Android Header Line
.header-md::after {
    background: transparent !important;
}

.container h1 {
    margin-top: 0;
}

.backbtn {
    margin-left: 20px;
}

.form-container {
    margin-top: 48px;
}

.form-container ion-item {
    --padding-start: 0;
    --border-color: #776b6b;
    --background: transparent;
}

.form-container ion-item ion-label {
    color: #686666;
}

.form-container ion-item ion-icon {
    margin-top: auto;
    color: #c6cbd4;
}

.form-container ion-button {
    margin-top: 48px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg {
    background: #fcb43c;
    border-radius: 5px;
 }

.sign-up ion-button {
    margin: 0;
}