<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <img src="../../assets/menu_bar.svg" />
        </ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button class="notification">
          <ion-icon name="notifications-outline" color="dark"></ion-icon>
          <span>&nbsp;</span>
        </ion-button>
        <!-- <ion-button class="filter">
          <ion-icon name="funnel-outline" color="dark"></ion-icon>
        </ion-button> -->
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="title ion-padding">
    <h2>Discover new places</h2>
  </div>
  <ion-card class="card-background-page" *ngFor='let x of fs.TourInterest| async;'>
    <!-- <strong *ngIf="modelData">{{modelData}}</strong> -->
    <div class="card-icon"><img src="assets/icon/{{x.bimage}}" routerLink="../tourist-spot-main/{{x.Name}}"/></div>
    <ion-icon src="assets/icon/{{x.icon}}" style="zoom:6.0; float: right;"></ion-icon>
    <div class="card-title"  routerLink="../tourist-spot-main/{{x.Name}}"> {{x.Name}}</div>
  </ion-card>
</ion-content>
